TZ=Asia/Jakarta
BOT_TOKEN=
TELEGRAM_CHAT_ID=

# MikroTik API from home-server perspective
MIKROTIK_HOST=192.168.1.119
MIKROTIK_PORT=8728
MIKROTIK_USER=rulibot
MIKROTIK_PASS=Rulig570
MIKROTIK_USE_SSL=false
